ion-content {
    --ion-background-color: rgb(244, 249, 250);
    --padding-bottom: 82px;

    .normal-amount {
        span:first-child {
            font-weight: 700;
        }
        span:last-child {
            font-weight: 300;
        }
    }
    .two-row-text {
        overflow: hidden;
        text-overflow: ellipsis;
        line-clamp: 2; 
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
    .hr {
        border: 0;
        border-top: 1px solid rgb(231, 231, 231);
        display: block;
        height: 1px;
        margin: 0 16px;
        padding: 0;
    }

    .nav {
        height: 48px;
        width: auto;
        margin: 12px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .user {
            width: 36px;
            height: 36px;
            line-height: 36px;
            border-radius: 50%;
            color: #fff;
            text-align: center;
            background-color: rgb(0, 0, 0);
        }

        .tools {
            display: flex;
            justify-content: center;
            align-items: center;
            .icon-box {
                width: 32px;
                height: 32px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                i {
                    font-size: 24px;
                    color: rgb(0, 0, 0);
                }
                .tag1 {
                    background-color: #00FAFF;
                    padding: 4px 4px;
                    border-radius: 50%;
                    position: absolute;
                    top: 6px;
                    right: 7px;
                    z-index: 999;
                }
                .tag2 {
                    background-color: #00FAFF;
                    padding: 8px 8px;
                    border-radius: 50%;
                    position: absolute;
                    top: -1px;
                    right: -1px;
                    z-index: 999;
                }
                .tag2::before {
                    content: "";
                    background-color: #000;
                    padding: 2px 2px;
                    border-radius: 50%;
                    position: absolute;
                    top: 6px;
                    right: 6px;
                    z-index: 999;
                }
            }
            .icon-box:not(:last-child) {
                margin-right: 16px;
            }

        }
    }

    .balance {
        width: auto;
        margin: 12px 16px;
        .label {
            font-size: 12px;
            font-weight: 300;
            color: var(--mox-color-gray500)
        }
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .amount {
                font-size: 30px;
                span:first-child {     
                    font-weight: 700;
                    color: var(--mox-color-dark);
                }
                span:last-child {
                    font-weight: 300;
                    color: var(--mox-color-gray500);
                }
            }
            .add-money {
                width: auto;
                border-radius: 42px;
                padding: 10px 12px;
                font-size: 12px;
                background-color: var(--mox-color-dark);
                color: var(--mox-color-white);
                text-align: center;
                display: flex;
                align-items: center;
                i {
                    font-size: 16px;
                    padding-right: 8px;
                    color: var(--mox-color-white);
                }
            }

        }
    }

    .credit-card {
        margin: 16px 16px;
        width: auto;
        .container {
            width: 100%;
            border-radius: 14px;
            aspect-ratio: 1.6;
            position: relative;
            background-size: cover;
            background-image: url("../../assets/images/mastercard.png");

            .content {
                position: absolute;
                top: 34%;
                left: 9%;
                .one {
                    font-size: 12px;
                    font-weight: 300;
                }
                .two {
                    font-size: 22px;
                }
                .three {
                    font-size: 12px;
                    font-weight: 300;
                }

            }
            .details {
                position: absolute;
                bottom: calc(5% + 14px);
                right: 5%;
                span {
                    font-size: 14px;
                    font-weight: 700;
                    padding: 6px 14px;
                    border-radius: 24px;
                    border:2px solid var(--mox-color-dark);
                }
            }
        }
    }

    .reward {
        margin: 16px 16px;
        width: auto;
        ion-grid {
            padding-left: 0;
            padding-right: 0;
            ion-col:first-child {
                padding-left: 0;
            }
            ion-col:last-child {
                padding-right: 0;   
            }
        }
        .title {
            font-size: 14px;
            font-weight: 500;
        }
        .r-card {
            height: 64px;
            width: auto;
            padding: 10px;
            background-color: var(--mox-color-white);
            border-radius: 16px;
            position: relative;
            overflow: hidden;
            .name {
                font-size: 12px;
                font-weight: 300;
            }
            .info {
                font-size: 14px;
            }
            .bg {
                position: absolute;
                top: 10px;
                right: 16px;
                width: 64px;
                height: 128px;
                transform: rotate(50deg);
                border-radius: 24px;
                background: rgb(0,225,255);
                &.c1 {
                    background: linear-gradient(180deg, rgba(0,225,255,1) 0%, rgba(0,255,255,1) 100%);
                }
                &.c2 {
                    background: linear-gradient(180deg, rgba(0,225,255,1) 0%, rgba(0,255,168,1) 60%);
                }
                i {
                    font-size: 26px;
                    color: var(--mox-color-dark);
                    position: absolute;
                    top: 16px;
                    left: 10px;
                    transform: rotate(-50deg);
                }
            }
        }
    }

    .m-menu {
        margin: 16px 16px;
        width: auto;
        display: flex;
        align-items: flex-start;
        overflow-x: scroll;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
        ion-grid {
            padding-left: 0;
            padding-right: 0;
        }
        
        .container {
            width: auto;
            height: auto;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &:not(:first-child) {
                margin-left: 12px;
            }
            img {
                width: 56px;
                height: 56px;
            }
            .icon-box{
                width: 56px;
                height: 56px;
                border-radius: 50%;
                text-align: center;
                font-size: 36px;
                color: var(--mox-color-white);
                i{
                    line-height: 56px;
                }
                &.bg1 {
                    background: rgb(0,109,248);
                    background: linear-gradient(152deg, rgba(0,109,248,1) 0%, rgba(0,198,224,1) 100%);
                }
                &.bg2 {
                    background: rgb(8,120,231);
                    background: linear-gradient(152deg, rgba(8,120,231,1) 0%, rgba(31,214,168,1) 100%);
                }
                &.bg3 {
                    background: rgb(232,74,245);
                    background: linear-gradient(132deg, rgba(232,74,245,1) 0%, rgba(0,85,255,1) 67%);
                }
                &.bg4 {
                    background: rgb(255,255,255);
                    background: linear-gradient(132deg, rgba(0,85,255,0.45) 7%, rgba(232,74,245,0.45) 100%);
                }
            }
            ion-icon {
                width: 56px;
                height: 56px;
                border-radius: 50%;
                text-align: center;
                font-size: 36px;
                background: rgb(255,255,255);
            }
            .label {
                width: 80px;
                padding-top: 8px;
                text-align: center;
                font-size: 12px;
            }
        }
    }

    .activity {
        padding: 20px 0;
        width: auto;
        border-radius: 24px;
        background-color: var(--mox-color-white);
        .header {
            padding: 8px 16px 16px 16px;
            width: 100%;
            font-size: 20px;
            font-weight: 500;
            span:last-child {
                float: right;
            }
        }
        .list {
            width: 100%;

            .item {
                padding: 16px 16px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                position: relative;
                .left {
                    max-width: 70%;
                    display: flex;
                    align-items: center;
                    .icon {
                        width: 42px;
                        height: 42px;
                        flex: 0 0 auto;
                        border-radius: 50%;
                        font-size: 28px;
                        color: var(--mox-color-dark);
                        &.style1 {
                            text-align: center;
                            background-color: #14df76;
                        }
                        &.style2 {
                            border: 1px solid var(--mox-color-gray100);
                            background-color: var(--mox-color-white);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        i {
                            line-height: 42px;
                        }
                        
                    }
                    .info {
                        font-size: 14px;
                        font-weight: 300;
                        padding-left: 12px;
                        display: flex;
                        flex-direction: column;
                        span:last-child {
                            padding-top: 4px;
                            font-size: 12px;
                            color: var(--mox-color-gray500);
                        }
                    }
                }
                .right {
                    span:last-child {
                        color: var(--mox-color-gray500);
                    }
                }
            }
        }
    }
}
