<ion-content fullscreen="true">
  <div class="nav">
    <div class="user">M</div>
    <div class="tools">
        <div class="icon-box">
            <span class="tag1"></span>
            <i class="mox-icon star"></i>
        </div>
        <div class="icon-box">
            <span class="tag2"></span>
            <i class="mox-icon bell"></i>
        </div>
    </div>
  </div>
  <div class="balance">
    <div class="label">Total Balance (HKD equiv.)</div>
    <div class="container">
      <div class="amount">
        <span>8,800.00</span>
        <span> HKD</span>
      </div>
      <div class="add-money">
        <i class="mox-icon plus"></i>
        <span class="text">Add Money</span>
      </div>
    </div>
  </div>
  <div class="credit-card">
    <div [ngClass]="{'container':true,'loaded':loaded}">
      <div class="content">
        <div class="one">Credit spend</div>
        <div class="two normal-amount">
          <span>-7,800.00</span>
          <span> HKD</span>
        </div>
        <div class="three normal-amount">
          Available to spend:
          <span>7,800.00</span><span> HKD</span>
        </div>
      </div>
      <div class="details">
        <span>View details</span>
      </div>
    </div>
  </div>
  <div class="reward">
    <div class="title">This month you have earned</div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="r-card">
            <div class="content">
              <div class="name">Interest (HKD equiv.)</div>
              <div class="info normal-amount">
                <span>12.22</span>
                <span> HKD</span>
              </div>
            </div>
            <div class="bg c1">
              <i class="mox-icon percent"></i>
            </div>
          </div>
        </ion-col>
        <ion-col>
          <div class="r-card">
            <div class="content">
              <div class="name">Rewards</div>
              <div class="info normal-amount">
                <span>27.33</span>
                <span> HKD</span>
              </div>
            </div>
            <div class="bg c2">
              <i class="mox-icon diamond"></i>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="m-menu">
          <div class="container">
            <div class="icon-box bg4"><i class="mox-icon referral"></i></div>
            <div class="label two-row-text">
              <span>Referral reward until jul</span>
            </div>
          </div>
          <div class="container">
            <ion-icon src="../../assets/icon/csl-mobile-logo.svg"></ion-icon>
            <div class="label two-row-text">
              <span>HKT Autopay Switch</span>
            </div>
          </div>
          <div class="container">
            <div class="icon-box bg3"><i class="mox-icon transfer-mox"></i></div>
            <div class="label two-row-text">
              <span>Transfer with Mox Credit</span>
            </div>
          </div>
          <div class="container">
            <div class="icon-box bg1"><i class="mox-icon currency"></i></div>
            <div class="label two-row-text">
              <span>5 new currencies🌍</span>
            </div>
          </div>
          <div class="container">
            <div class="icon-box bg2"><i class="mox-icon limit"></i></div>
            <div class="label two-row-text">
              <span>Set limit</span>
            </div>
          </div>
          <div class="container">
            <div class="icon-box bg1"><i class="mox-icon add-money"></i></div>
            <div class="label two-row-text">
              <span>Add money</span>
            </div>
          </div>
  </div>
  <div class="activity">
    <div class="header">
      <span>Activity</span>
      <span><i class="mox-icon right-arrow"></i></span>
    </div>
    <div class="list">
      <div class="item ion-activatable">
        <div class="left">
          <div class="icon style1">
            <i class="mox-icon credit"></i>
          </div>
          <div class="info">
            <span class="two-row-text">Mox account to Trip to Tokyo</span>
            <span>4 sep. 17:31</span>
          </div>
        </div>
        <div class="right normal-amount">
          <span>500.00</span>
          <span> HKD</span>
        </div>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <div class="hr"></div>
      <div class="item ion-activatable">
        <div class="left">
          <div class="icon style2">
            <ion-icon src="../../assets/icon/hkt-seeklogo.com.svg"></ion-icon>
          </div>
          <div class="info">
            <span class="two-row-text">HKT shop</span>
            <span>4 sep. 17:31</span>
          </div>
        </div>
        <div class="right normal-amount">
          <span>4,500.00</span>
          <span> HKD</span>
        </div>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
  </div>
</ion-content>
