<ion-content fullscreen="true">
  <div class="nav">
    <div class="user">M</div>
    <div class="tools">
        <div class="icon-box">
            <span class="tag1"></span>
            <ion-icon src="../../assets/icon/star.svg"></ion-icon>
        </div>
        <div class="icon-box">
            <span class="tag2"></span>
            <ion-icon src="../../assets/icon/remind.svg"></ion-icon>
        </div>
    </div>
  </div>
  <div class="balance">
    <div class="label">Total Balance (HKD equiv.)</div>
    <div class="container">
      <div class="amount">
        <span>8,800.00</span>
        <span> HKD</span>
      </div>
      <div class="add-money">
        <ion-icon src="../../assets/icon/plus.svg"></ion-icon>
        <span class="text">Add Money</span>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="container">
      <div class="content">
        <div class="one">Credit spend</div>
        <div class="two normal-amount">
          <span>-7,800.00</span>
          <span> HKD</span>
        </div>
        <div class="three normal-amount">
          Available to spend:
          <span>7,800.00</span><span> HKD</span>
        </div>
      </div>
      <div class="details">
        <span>View details</span>
      </div>
    </div>
  </div>
  <div class="reward">
    <div class="title">This month you have earned</div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="r-card">
            <div class="content">
              <div class="name">Interest(KHD equiv.)</div>
              <div class="info normal-amount">
                <span>12.22</span>
                <span> HKD</span>
              </div>
            </div>
            <div class="bg c1">
              <ion-icon src="../../assets/icon/percent.svg"></ion-icon>
            </div>
          </div>
        </ion-col>
        <ion-col>
          <div class="r-card">
            <div class="content">
              <div class="name">Rewards</div>
              <div class="info normal-amount">
                <span>27.33</span>
                <span> HKD</span>
              </div>
            </div>
            <div class="bg c2">
              <ion-icon src="../../assets/icon/diamond.svg"></ion-icon>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="m-menu">
          <div class="container">
            <img src="../../assets/icon/menu-01.png">
            <div class="label">
              <span>Referral reward until jul</span>
            </div>
          </div>
          <div class="container">
            <img src="../../assets/icon/menu-02.png">
            <div class="label">
              <span>HKT Autopay Switch</span>
            </div>
          </div>
          <div class="container">
            <img src="../../assets/icon/menu-03.png">
            <div class="label">
              <span>Transfer with Mox Credit</span>
            </div>
          </div>
          <div class="container">
            <img src="../../assets/icon/menu-04.png">
            <div class="label">
              <span>5 new currencies🌍</span>
            </div>
          </div>
  </div>
</ion-content>
