ion-header {
    ion-toolbar {
        --background: #827AFE;
        --border-width: 0;
        color: var(--mox-color-dark);
        font-weight: 500;
        ion-title {
            font-size: 20px;   
        }
        ion-icon {
            color: var(--mox-color-dark);
            font-size: 24px;
        }
    }
  }
ion-content {
    --background: #827AFE;

    .normal-amount {
        span:first-child {
            font-weight: 700;
            color: var(--mox-color-dark);
        }
        span:last-child {
            font-weight: 300;
            color: var(--mox-color-dark);
        }
    }
    .hr {
        border: 0;
        border-top: 1px solid rgb(231, 231, 231);
        display: block;
        height: 1px;
        margin: 0 16px;
        padding: 0;
    }

    .card {
        margin-top: 36px;
        padding: 20px 0;
        width: auto;
        border-radius: 24px;
        background-color: var(--mox-color-white);
        position: relative;
        .circle {
            top: -36px;
            left: calc(50% - 36px);
            width: 72px;
            height: 72px;
            border-radius: 50%;
            background-color: var(--mox-color-white);
            position: absolute;
        }
        .header {
            top: -32px;
            left: calc(50% - 32px);
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background-color: #827AFE;
            position: absolute;
            text-align: center;
            i{
                font-size: 42px;
                line-height: 64px;
            }
        }

        .month {
            padding: 32px 0;
            width: 100%;
            text-align: center;
            .amount{
                font-size: 24px;
            }
            .date {
                font-size: 14px;
                font-weight: 300;
                color: var(--mox-color-gray500);
            }
        }
        .chart {
            width: 100%;
            .base-line {
                width: auto;
                height: 2px;
                margin: 0 22px 0 50px;
                background: var(--mox-color-gray500);
                position: relative;
                .avg-container {
                    position: absolute;
                    width: 100%;
                    bottom: 25px;
                    display: flex;
                    align-items: center;
                    span {
                        position: absolute;
                        left: -28px;
                        font-size: 12px;
                        font-weight: 300;
                        color: var(--mox-color-gray500);
                    }
                    .avg-line {
                        width: 100%;
                        height: 1px;
                        border-bottom: 1px dashed var(--mox-color-gray500);
                        box-sizing: border-box;
                        z-index: 999;
                    }
                }
            }
            .container{
                padding: 0 16px 0 48px;
                display: flex;
                justify-content: space-around;
                align-items: flex-end;
                position: relative;
                .item-bar {
                    height: 128px;
                    width: 24px;
                    .bar{
                        position: absolute;
                        bottom: 0;
                        width: 24px;
                        height: 0;
                        border-radius: 12px 12px 0 0;
                        background-color: #827AFE;
                        opacity: 0.3;
                        min-height: 0;
                        max-height: 128px;
                        transition: opacity 0.3s, height 0.5s cubic-bezier(0.82, 0.01, 0.38, 1.35);
                        &.active {
                            opacity: 1;
                        }
                    }
                    
                }
                .date{
                    width: 20%;
                    min-width: 42px;
                    line-height: 28px;
                    font-size: 12px;
                    font-weight: 300;
                    color: var(--mox-color-gray500);
                    display: flex;
                    justify-content: center;
                    position: relative;
                    &.active {
                        font-weight: 500;
                        .border {
                            width: 24px;
                        }
                    }
                    .border {
                        position: absolute;
                        bottom: 2px;
                        width: 0;
                        border-bottom: 1px solid #827AFE;
                        transition: all 0.2s ease-in-out;
                    }
                }
            } 
        }
        .history {
            padding: 16px 0 0 0;
            display: flex;
            justify-content: space-around;
            .item{
                display: flex;
                flex-direction: column;
                max-width: 120px;
                font-size: 14px;
                .amount {
                    text-align: center;
                }
                .range{
                    text-align: center;
                    padding-top: 4px;
                    font-weight: 300;
                }
            }
        }
        .record {
            margin-top: 24px;
            .date{
                padding: 4px 16px;
                font-size: 12px;
                font-weight: 300;
                color: var(--mox-color-gray500);
                background-color: var(--mox-color-gray50);
            }
            .list {
                width: 100%;
    
                .item {
                    padding: 16px 16px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    position: relative;
                    .left {
                        max-width: 70%;
                        display: flex;
                        align-items: center;
                        .icon {
                            width: 42px;
                            height: 42px;
                            flex: 0 0 auto;
                            border-radius: 50%;
                            font-size: 28px;
                            color: var(--mox-color-dark);
                            &.style1 {
                                text-align: center;
                                background-color: #827AFE;
                            }
                            &.style2 {
                                border: 1px solid var(--mox-color-gray100);
                                background-color: var(--mox-color-white);
                                color: #47c2bd;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                            i {
                                line-height: 42px;
                            }
                            
                        }
                        .info {
                            font-size: 14px;
                            font-weight: 300;
                            padding-left: 12px;
                            display: flex;
                            flex-direction: column;
                            span:last-child {
                                padding-top: 4px;
                                font-size: 12px;
                                color: var(--mox-color-gray500);
                            }
                        }
                    }
                    .right {
                        span:last-child {
                            color: var(--mox-color-gray500);
                        }
                    }
                }
            }
        }
    }
}