/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Fonts */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans Light"), local("Noto-Sans-Light"), url("assets/fonts/NotoSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans Medium"), local("Noto-Sans-Medium"), url("assets/fonts/NotoSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("Noto-Sans-Bold"), url("assets/fonts/NotoSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Maison Neue";
  font-style: normal;
  font-weight: 300;
  src: local("Maison Neue Light"), local("Maison-Neue-Light"), url("assets/fonts/MaisonNeue-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Maison Neue";
  font-style: normal;
  font-weight: 500;
  src: local("Maison Neue Medium"), local("Maison-Neue-Medium"), url("assets/fonts/MaisonNeue-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Maison Neue";
  font-style: normal;
  font-weight: 600;
  src: local("Maison Neue Demi"), local("Maison-Neue-Demi"), url("assets/fonts/MaisonNeue-Demi.ttf") format("truetype");
}

@font-face {
  font-family: "Maison Neue";
  font-style: normal;
  font-weight: 700;
  src: local("Maison Neue Blod"), local("Maison-Neue-Blod"), url("assets/fonts/MaisonNeue-Bold.ttf") format("truetype");
}

/* icons */
@font-face {
  font-family: "MoxIcons";
  font-style: normal;
  font-weight: normal;
  src: local("MoxIcons"), url("assets/fonts/MoxIcons.ttf") format("truetype");
}
.mox-icon {
  font-family: "MoxIcons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  position: relative;

  &.home:before { content:'\E99F'; }
  &.account:before { content:'\E99D'; }
  &.credit:before { content:'\E966'; }
  &.spending:before { content:'\E9A2'; }

  &.cancel:before { content:'\E926'; }
  &.plus:before { content:'\E908'; }
  &.diamond:before { content:'\E975'; }
  &.star:before { content:'\E9FE'; }
  &.bell:before { content:'\E90D'; }
  &.percent:before { content:'\E94F'; }
  &.right-arrow:before { content:'\E923'; }
  &.limit:before { content:'\E91C'; }
  &.add-money:before { content:'\E90A'; }
  &.switch:before { content:'\E9EA'; }
  &.referral:before { content:'\E909'; }
  &.transfer-mox:before { content:'\E92A'; }
  &.currency:before { content:'\E92C'; }
  &.food:before { content:'\E945'; }
  &.wallet::after { content:'\E935'; }
  &.groceries:before { content:'\E947'; }
  &.shopping:before { content:'\E984'; }
  &.other:before { content:'\E965'; }
  &.coffee:before { content:'\E9C5'; }
  &.bill::before { content: '\E99C'}
  &.instant::before { content: '\E9EB'}
  &.transfer::before { content: '\E9F1'}
  &.request::before { content: '\E9A1'}
}



